.melody-container {
    width: 50%;
    margin-top: 1%;

    h4 {
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .drag-drop-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94%;
        height: 30px;
        border: 1px solid #909090;
        border-radius: 20px;
        padding: 3%;

        .file-name {
            position: relative;
            width: 94%;
            color: #909090;
            font-size: .9rem;
            border: 0;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}