form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .submit-btn {
        width: 15vw;
        height: 5vh;
        font-size: 1rem;
        color: #ffffff;
        margin: 3vh;
        border: 0;
        border-radius: 2rem;
        background-color: #ff8900;
        cursor: pointer;
    }
}