.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.float {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 10rem;
}
