header {
    display: flex;

    .logo {
        display: inline-block;
        cursor: pointer;
        padding: 15px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    nav {
        margin-left: auto;

        ul {
            list-style: none;
            margin: 0;
            display: flex;
        }

        li {
            padding: 15px;
            cursor: pointer;
        }
    }
}