@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

header {
    font-family: 'Krona One', sans-serif;
    height: 100px;
    display: flex;
    padding: 20px 160px;

    .logo {
        display: inline-block;
        color: #ff8900;
        font-size: 1.8rem;
        font-weight: lighter;
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    nav {
        margin-left: auto;

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 0 15px;
        }
    }
}