@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "./color";
@import "./size";

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.detailRequestBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35vw;
  height: 80vh;

  .request {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35vw;
    height: 40rem;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $HEIGHT_SMALL;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: $FONT_LARGE;
    font-weight: 700;
  }

  .upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    padding: 2rem 0 0 1rem;

    audio {
      width: 30vw;
    }
  }

  .field_genre_mood {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33vw;
    height: $HEIGHT_EXTRA_LARGE;
    padding: 2rem 1rem;
    font-weight: 500;

    .field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 8vw;
      height: 5.5rem;
      padding: 1rem 1rem;
      background-color: #fffcf2;
      margin: 0;

      #fieldTag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $Color_Main;
        font-size: $FONT_SMALL;
        font-weight: 600;

        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: $FONT_SMALL;
        }
      }
    }

    .genre {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 8vw;
      height: 5.5rem;
      padding: 1rem 1rem;
      background-color: #fffcf2;

      #genreTag {

        color: $Color_Main;
        font-size: $FONT_SMALL;
        font-weight: 600;

        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-top: 1rem;
          font-size: $FONT_SMALL;
        }
      }
    }

    .mood {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 8vw;
      height: 5.5rem;
      padding: 1rem 1rem;
      background-color: #fffcf2;

      #moodTag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $Color_Main;
        font-size: $FONT_SMALL;
        font-weight: 600;

        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: $FONT_SMALL;
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    padding: 3rem 3rem;
  }

  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $HEIGHT_SMALL;
    padding: 3rem 0;
    margin: 20px 10px 10px 10px;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-width: 8rem;
      padding-left: 1rem;

      .email {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 10rem;
        height: $HEIGHT_EXTRA_SMALL;
        font-size: $FONT_MEDIUM_SMALL;
        font-weight: 500;
        color: $Font_Main;
      }

      .detail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 8rem;
        font-size: $FONT_EXTRA_SMALL;
        font-weight: 400;
        color: $Font_Sub;
      }
    }
  }
}