@import "./color";
@import "./size";

button {
  width: 140px;
  height: 56px;
  padding: 16px 40px;
  border-radius: 28px;
  background-color: $Color_Main;
  font-size: $FONT_SMALL;
  font-weight: bold;
}

button:hover {
  background-color: $Color_Sub_Hover;
}