@import "./color";
@import "./size";

.requestBox {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgb(167, 165, 165);
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  margin-bottom: 30px;

  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 16rem;
    height: $HEIGHT_SMALL;
    padding: 5px 10px;
    margin: 20px 10px 10px 10px;

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $HEIGHT_EXTRA_SMALL;
      margin-right: 15px;
    }

    .email {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $HEIGHT_EXTRA_SMALL;
      font-size: $FONT_SMALL;
      color: $Font_Sub;
    }
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 16rem;
    height: $HEIGHT_SMALL;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: $FONT_LARGE;
    font-weight: 600;
  }

  .field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 16rem;
    height: $HEIGHT_EXTRA_SMALL;
    padding: 5px 10px;
    margin: 5px 5px 10px 5px;

    img {
      margin-right: 5px;
    }
  }

  .genre_mood {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $FONT_MEDIUM;
    font-weight: 500;
    margin-bottom: 3px;

    .genre {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      #genreTag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 10px;
        color: $Color_Main;

      }

      .genreText {
        margin-right: 5px;
        color: #202020;


      }
    }

    .mood {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5px 10px;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      #moodTag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 10px;
        color: $Color_Main;
      }

      .moodText {
        margin-right: 5px;
        color: #202020;
      }
    }
  }

  .upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 7rem;
    padding: 1rem 0;
    margin: 0px 1.4rem;
    overflow: scroll;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: $FONT_EXTRA_SMALL;

    .lyrics {
      margin-bottom: 7px;
    }
  }
}