@import "./color.scss";
@import "./size.scss";

.start-page-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  background-color: $Color_BG_Main;
}