@import "utils/style/size";

.slide-container {
  width: 25rem;
  padding-top: 20px;

  &>.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    margin: 0 20px;
    border-radius: 9px;
    background-color: #555;
    outline: none;
  }

  &>.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
  }

  &>#value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: relative;
    bottom: 24px;
    font-size: $FONT_SMALL;
    font-weight: bold;
    cursor: pointer;
  }

  &>.slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 12px;
    bottom: 12px;
    font-size: $FONT_SMALL;
    font-weight: 500;
    color: #999;
  }
}