@import "utils/style/color";
@import "utils/style/size";

.App {
  font-family: sans-serif;
  text-align: center;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  padding: 20px 0;

  .song {
    user-select: none;
    margin: 0 20px;

    .song__title {
      text-align: left;
      margin: 0;
      color: #909090;
      font-family: "Permanent Marker", cursive;
      font-weight: normal;
      font-size: 3.5em;

      &:hover {
        color: greenyellow;
      }
    }

    .song__artist {
      margin: 0;
      color: #909090;
      font-family: "Rock Salt", cursive;
      font-weight: normal;
      font-size: 1em;

      &:hover {
        color: greenyellow;
        cursor: pointer;
      }
    }
  }

  .controls {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .player__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;

      svg {
        color: greenyellow;
      }
    }

    svg {
      font-size: 4em;
      color: #909090;
    }
  }

  .bar {
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;

    .bar__time {
      color: #909090;
      font-size: 16px;
    }

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin: 0 20px;
      height: 10px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;

      .bar__progress__knob {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: $Color_Main;
      }
    }
  }
}