.track-box {
  height: 120px;
  border-radius: 16px;
  background-color: rgba(177, 255, 0, 0.1);

  &:hover {
    border: solid 2px #b1ff00;
  }
}

.recording-box {
  height: 120px;
  border-radius: 16px;
  background-color: #404040;
}

.box-fill {
  height: 120px;
  background-color: #b1ff00;
}

.record-fill {
  height: 120px;
  background-color: #fff;
}